/* Code to change page width START */
#PAGEID_1075349 h4{
color:#949494!important;
font-family: Poppins, sans-serif;
    font-size: 24px!important;
    font-weight: normal!important;
}

.container_12 {
    width: 1200px;
}
.s1_grid_12{
    width: auto;
}
@media only screen and (max-width: 1199px) and (min-width: 600px){
.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    min-width: 600px;
}}
@media only screen and (max-width: 616px){
.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
    min-width: 320px;
    display: block;
}}
/* Code to change page width END */


/* type */

.formTitleOuterContainer {
    border-bottom: 1px solid #949493;
    padding-bottom: 10px;
    display: none;
}

h2 {
    font-family: Poppins, sans-serif;
    font-size: 64px;
    font-weight: 700;
color: #333;
}
h3 {
    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-weight: 700;
color: #333;
}
h4 {
    font-family: Poppins, sans-serif!important;
    font-size: 36px!important;
    font-weight: 700!important;
color: #333!important;
}
body {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: normal;
color: #949494;
}

/* button for  membership */

.navigationOuterContainer .navigationContainer input.nextButton:first-child, .navigationOuterContainer .navigationContainer input.typeButton:first-child, .navigationOuterContainer .navigationContainer input[type=submit]:first-child {
    margin-right: 10px;
    /* color: #01dbff!important; */
    background-color: #01dbff!important;
}

.navigationOuterContainer .navigationContainer input.nextButton, .navigationOuterContainer .navigationContainer input.typeButton, .navigationOuterContainer .navigationContainer input[type=submit] {
    display: inline-block;
    box-sizing: border-box;
    padding: 12px 20px 12px 20px;
    border: 0;
    color: white;
    font: 300 12px/normal Lato;
    text-transform: uppercase;
    height: auto;
    margin: 10px 0;
    outline: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-appearance: none;
    white-space: nowrap;
    min-width: 92px;
    margin-top: 0;
    margin-bottom: 10px;
    background-color: #01dbff!important;
}
/* type */

.container_12 {}



@media only screen and (min-width: 600px) {




.fieldSubContainer {
    margin: 11px 0;
    *zoom: 1;
    zoom: 1;
    font: 300 14px/normal Lato;
    width: 100%;
    min-width: 500px;
}

/*#PAGEID_1075349:not(.fieldBody, .generalFormContainer .inner:first-child)  {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
*/

tr {
display: grid!important;
}


#FunctionalBlock1_ctl00_donation_ctl00_stepTemplate_donationForm_donationFormRepeater_ctl05_donationAmountTextBox11720328{
  /* margin-top: 5px; */
width: 37%!important;
margin-left: 10px;

}

#PAGEID_1075349.jd_display_table_cell jd_vertical_align_middle nd_options_color_greydark jd_padding_0_responsive jd_padding_left_20 jd_margin_0 jd_padding_top_0{
  color:#949494!important;
  font-family: Poppins, sans-serif;
      font-size: 24px!important;
      font-weight: normal!important;
}

#PAGEID_1075349 h4:nth-child(2)::before{

  content: '111 ';

}

#PAGEID_1075349 h4{
color:#949494!important;
font-family: Poppins, sans-serif;
    font-size: 24px!important;
    font-weight: normal!important;
}
#id_D5cTNAm{margin-top: 0px!important;}

.fieldSubContainer table td.left .fieldLabel {

    float: left!important;

}

.fieldSubContainer table td.left {
    width: 100%;
    padding: 0;
    text-align: left;
    vertical-align: top;
}

.fieldSubContainer table td.right {
    width: 100%;
    padding: 0;
    text-align: left;
    vertical-align: top;
}

.fieldSubContainer table td.left .fieldLabel {
    width: auto;
    float: none;
    padding: 4px 8% 10px 0;
}

.captionOuterContainer {
    background: transparent;
    margin: 0;
    padding: 60px 0 10px 0;
}

.navigationOuterContainer { width:85%;}
.navigationOuterContainer .inner {float:right;}

.fieldSubContainer .fieldBody>span, .fieldSubContainer .fieldBody>strong { width:100% !important;}

.fieldBody input[type=text] { width:90%!important;
}}



.fieldSubContainer table td.left .fieldLabel {

    padding: 4px 8% 10px 0;
}

.navigationOuterContainer { width:100%;}
.navigationOuterContainer .inner {float:right;}

.DES_CalControl tr {display:table-row !important;}


/* _______________________________widgets_________________________*/

.WaGadgetEvents .boxOuterContainer .boxFooterOuterContainer .boxFooterContainer {
    padding: 0px;
}



.WaGadgetEvents.WaGadgetEventsStateDetails .pageTitleContainer {
    padding: 0;
}




.WaGadgetEvents.WaGadgetEventsStateDetails .boxOuterContainer .boxBodyContainer .boxBodyInfoOuterContainer .boxBodyInfoContainer .registrationInfoContainer {
    margin: 0;
    padding: 0 0 0 0px;
}



.WaGadgetEvents.WaGadgetEventsStateDetails .boxOuterContainer .boxBodyContainer .boxBodyInfoOuterContainer .boxBodyInfoContainer .boxActionContainer {
    padding-left: 0px;
}

.WaGadgetEvents .boxOuterContainer .boxBodyOuterContainer .boxBodyContainer .boxBodyInfoOuterContainer .boxBodyInfoContainer .boxActionContainer input.typeButton {
    display: inline-block;
    box-sizing: border-box;
    padding: 19px 14px 19px 14px;
    background-color: #01dbff;
    border: 0;
    color: white;
    font: poppins;
    text-transform: uppercase;
    height: auto;
    margin: 10px 0;
    outline: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-appearance: none;
    white-space: nowrap;
    min-width: 92px;
}




/* _______________________________widget padding_________________________*/


.WaGadgetEvents .pageTitleOuterContainer .pageBackContainer {
    padding: 5px 0 0 0;
    display: none;
}

.s1_grid_12 {
    margin-left: 0px;
    margin-right: 0px;

}


.gadgetStyleNone, .gadgetStyle001, .gadgetStyle002, .gadgetStyle003 {
    padding: 0 0px;
}

.WaPlaceHolderContent>div {
    padding: 20px 0px;
}




/*_________________________widget fonts_________________________*/

.WaGadgetEvents.WaGadgetEventsStateDetails .boxOuterContainer .boxBodyContainer .boxBodyInfoOuterContainer .boxBodyInfoContainer .registrationInfoContainer h4.infoTitle {
    color: #949494!important;
    font: 300 14px/Poppins;
    margin: 0;
    font-size: 19px!important;
 color:#949494;
}


.WaGadgetEvents.WaGadgetEventsStateDetails .pageTitleContainer h1.pageTitle {
    color: #949493;
    font: 300 24px/normal Poppins;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}


.WaGadgetEvents .boxOuterContainer .boxBodyOuterContainer .boxBodyContainer .boxBodyInfoOuterContainer .boxBodyInfoContainer .boxInfoContainer {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

  .WaGadgetEvents.WaGadgetEventsStateDetails .pageTitleContainer h1.pageTitle::after {
  content: " Series";
  font-weight: 700;
  color: #01dbff;
  font-family: Poppins, sans-serif;
  font-size: 14pt;
}


.WaGadgetEvents .boxOuterContainer .boxBodyOuterContainer .boxBodyContainer .boxBodyInfoOuterContainer {
    color:#949494;
}

.WaGadgetEvents .boxOuterContainer .boxBodyOuterContainer .boxBodyContainer .boxBodyContentOuterContainer {
    color:#949494;
}

.WaGadgetEvents.WaGadgetEventsStateRegistrationsList .titleContainer h1.pageTitle, .WaGadgetEvents.WaGadgetEventsStateRegistration .titleContainer h1.pageTitle, .WaGadgetEvents.WaGadgetEventsStateSelfRegistrationsList .titleContainer h1.pageTitle {
color: #949493;
font: 300 24px/normal Roboto Slab;
margin: 0;
padding: 0;
text-transform: uppercase;
font-family: Poppins, sans-serif;
font-size: 36px;
font-weight: 700;
text-transform: capitalize;
letter-spacing: 1px;

}

#WA_messagePopup {
    display: block;
    width: 240px;
    position: fixed;
    z-index: 65535;
    bottom: 0;
    right: 0;
    outline: 0;
    display: none;
}


/*_________________________ acount_________________________*/
#id_swUzzgD{
display: none!important;
}

#idSocialLoginContainer{
display: none!important;
}
.WaGadgetContactProfile .topButtonsOuterContainer .topButtonsContainer .inner input.typeButton {
    background-color: #01dbff;
}

.generalFieldsContainer input[type=submit], .generalFieldsContainer input.typeButton {
    background-color:  #01dbff;
}

#memberFieldsContainerShowLink{
display: none!important;
}

.profileHeaderContainer{
display: none!important;
}
#idMemberDetailsTabsContainer{
border-top: solid 1px #cccccc;
}


.fieldContainer.textFieldContainer .fieldSubContainer.singleStringContainer table td.right .fieldBody input.subjectTextBox, .fieldContainer.textFieldContainer .fieldSubContainer.singleStringContainer table td.right .fieldBody input.typeText, .fieldContainer.textFieldContainer .fieldSubContainer.singleStringContainer table td.right .fieldBody input[type=text] {
    border: 1px solid #cacaca;
    background: transparent;
    color: #373737;
    line-height: normal;
    font-size: inherit;
    padding: 2px 4px 3px 4px;
    /* background: #800080; */
    transition: .35s;
    border-bottom: 2px solid #800080 !important;
    border: none;
    border-radius: 0px;
}


.navigationOuterContainer .navigationContainer input.nextButton:first-child, .navigationOuterContainer .navigationContainer input.typeButton:first-child, .navigationOuterContainer .navigationContainer input[type=submit]:first-child {
    margin-right: 10px;
    /* color: #01dbff!important; */
    background-color: #01dbff!important;
    border-radius: 30px;
}


/*_________________________ invoice_________________________*/

.backLink{
display:none;
}

#PAGEID_1075186 #idContainer11720321{
  display:none;
}

#PAGEID_1075347 #idContainer11720321  .fieldItem:nth-child(1){
  display:none;
}



#PAGEID_1075183 .zoneContentInner .s1_grid_12 .s2_grid_12 s3_grid_12 .zoneInner .zoneRoundedCorners{
  background-color:  #01dbff;
}
